// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
	
}
// Спойлер
.spollers__item:nth-child(even) {
	& button {
	background-color: #f3f3f3;
	}
}
// Заголовок спойлера
.spollers__title{
	width: 100%;
	cursor: default;
	text-align: left;
	border: 1px solid #eee;
	background-color: #f9f9f9;
	padding: rem(24) rem(60) rem(24) rem(24);
	border-radius: rem(5);
	position: relative;
	font-family: Vanta;
	@include adaptiveValue("font-size", 24, 16);
	line-height: 31.2px;
	text-align: left;
	._spoller-init & {
		cursor: pointer;
		&::after {
			content: "";
			position: absolute;
			right: rem(24);
			top: 20%;
			background-image: url(../img/icons/plus-circle.svg);
			height: 24px;
			transform: translate(0, 50%);
			width: 24px;
			transition: transform 1.5s ease 0s;
		}
		&._spoller-active {
			&::after {
					background-image: url(../img/icons/minus-circle.svg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding: rem(20);
	border-radius: rem(5);
	border: 1px solid #b3b3b3;
	background-color: #ffffff;
}
