//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 4px !important;
	display: inline-block;
	border: 1px solid #b2b2b2;
	&._form-focus {

	}
	&._form-error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
