.contacts {

	@include adaptiveValue("padding-top", 112, 71);
	@include adaptiveValue("padding-bottom", 80, 40);
	max-width: rem(925);
	@include adaptiveValue("margin-left", 140, 20, 1920, 780);
	text-align: left;
	/* .contacts__titile */
	&__titile {
		text-align: left;
	}
	/* .contacts__columns */
	&__columns {
		display: flex;
		justify-content: space-between;
		gap: rem(20);
		@include adaptiveValue("margin-top", 80, 10);
		@media (max-width:$mobile){
			flex-wrap: wrap;
		}
	}
	/* .contacts__column */
	&__column {
		max-width: rem(375);
		min-width: rem(220);
	}
	/* .contacts__text */
	&__title{
	font-size: 24px;
	@include adaptiveValue("font-size", 24, 18);
	line-height: math.div(41, 24);
	@include adaptiveValue("padding-bottom", 24, 16);
	
	}
	&__text {
		font-family: "Vanta Light";
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(21, 16);
	}
	/* .contacts__item */
	&__item {
	}
	/* .contacts__tel */
	&__tel {
		&:hover{
			color: $c_e;
		}
	}
	/* .contacts__mail */
	&__mail {
		text-decoration: underline !important;
		&:hover{
			color: $c_e;
		}
	}
	/* .contacts__adress */
	&__adress {
	}
}
// Style for "Режим рабо"
.map{
	width: 100%;
	@include adaptiveValue("height", 608, 336);
}