.price {
	&__titile{
		@include adaptiveValue("margin-top", 112, 50);
	}
	/* .price__header */
	&__header {
		display: flex;
		justify-content: space-between;
		font-family: "Vanta Light";
		@include adaptiveValue("font-size", 20, 14);
		line-height: math.div(31, 20);
		border: 1px solid #b3b3b3;
		padding: rem(24);
	}
	/* .price__header-item */
	&__header-item {
	}
	/* .price__spollers */
	&__spollers{}
	&__bottom {
	}
}
.spollers-price {
	/* .spollers-price__items */
	&__items {
		display: flex;
		justify-content: space-between;
		font-family: "Vanta Light";
		@include adaptiveValue("font-size", 16, 12);
		line-height: math.div(32, 16);
		cursor: pointer;
		gap: rem(16);
		&:hover{
			color: #608a1a;
		}
	}
	/* .spollers-price__text */
	&__text {
	}
	/* .spollers-price__cost */
	&__cost {
	}
}
//====================================================================================================

.bottom-price {
	/* .bottom-price__items */
	&__items {
		@include adaptiveValue("padding", 24, 15);
		display: flex;
		justify-content: space-between;
		@include adaptiveValue("font-size", 26, 16);
		line-height: math.div(32, 24);
		align-items: center;
		gap: rem(20);
		&:nth-child(even){
		background-color: #f3f3f3;
	}
	}
	/* .bottom-price__text */
	&__text {
	}
	/* .bottom-price__cost */
	&__cost {
	}
}
.footer-price{
	margin-top: rem(32);
	&__item{
		font-family: "Vanta Light";
		@include adaptiveValue("font-size", 16, 12);
		line-height: 20.8px;
		text-align: left;
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
}
